[include]
  path = ~/.gitconfig.local

[user]
  name = asadaman
  email = asdm.dev@gmail.com

[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:

[alias]
  br = branch
  co = checkout
  st = status
  ci = commit
